Thanks, <% first_name %> 

What type of crust would you like with your <%= pizzatype %>?
<br>
<form method="post" action="crust">
	<input type="text" name="crust_type">
	<br>
	<br>
	<input type="submit">
</form>