Welcome <%= first_name %>
<br>
What type of pizza do you want?
<br>
<form method="post" action="pizza">
	<input type="text" name="pizzatype">
	<input type="hidden" name="first_name" value=<%= first_name %>>
	<br>
	<br>
	<input type="submit">
</form>