Thanks, <% first_name %> 

What type of toppings would you like with your <%= pizzatype %>?
<br>
<form method="post" action="toppings">
	<input type="text" name="toppings">
	<br>
	<br>
	<input type="submit">
</form>