Thanks, <% first_name %> 

What type of toppings would you like with your <%= pizzatype %>?
<br>
<form method="post" action="toppings">
	<input type="text" name="toppings">
	<input type="hidden" name="first_name" value=<%= first_name %>>
	<input type="hidden" name="pizzatype" value=<%= pizzatype %>>
	<input type="hidden" name="crust_type" value=<%= crust_type %>>
	<br>
	<br>
	<input type="submit">
</form>